:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Space Mono", monospace; /* 700 */
}

body {
  background-color: var(--Light-grayish-cyan);
  padding: 80px 0;
}

.logo {
  display: block;
  margin: 0 auto 80px auto;
  text-align: center;
}

main {
  margin: 0 auto;
  background-color: var(--white);
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 0 8px 0 var(--very-light-grayish-cyan);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.result-section {
  background-color: var(--very-dark-cyan);
  padding: 20px;
  border-radius: 15px;
  position: relative;
}

.tip-show,
.total-amount-show {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.p {
  color: var(--very-light-grayish-cyan);
  font-size: 14px;
}
.p span {
  color: var(--grayish-cyan);
  font-size: 11px;
}

.result-p {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 35px;
  color: var(--strong-cyan);
}

.result-p i {
  font-size: 20px;
  margin-right: 5px;
}

.total-amount-show {
  margin-bottom: 80px;
}

.reset {
  width: calc(100% - 30px);
  height: 50px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #0d686d;
  color: var(--dark-grayish-cyan);
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.reset:hover {
  background-color: var(--Light-grayish-cyan);
  color: var(--very-dark-cyan);
}

.active {
  background-color: var(--strong-cyan);
  color: var(--dark-grayish-cyan);
}

.mb-25 {
  margin-bottom: 25px;
}

.pr {
  position: relative;
}

.bill i,
.number-of-person i {
  position: absolute;
  top: 40px;
  left: 10px;
  color: var(--dark-grayish-cyan);
}

.data-section label {
  display: block;
  margin-bottom: 3px;
  font-size: 15px;
  color: var(--very-dark-cyan);
}

.bill-input,
.person-input {
  text-align: right;
  border: none;
  outline: none;
  padding: 10px 15px;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  color: var(--very-dark-cyan);
  background-color: var(--very-light-grayish-cyan);
  border-radius: 8px;
}

.bill-input:focus,
.person-input:focus {
  border: 1px solid var(--strong-cyan);
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.container .custom {
  height: 40px;
  text-align: center;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--very-light-grayish-cyan);
  font-weight: 700;
  color: var(--very-dark-cyan);
  border-radius: 8px;
}

.container .custom:focus {
  border: 1px solid var(--strong-cyan);
}

.container .input {
  border: none;
  outline: none;
  border-radius: 5px;
  text-align: center;
  height: 40px;
  margin-bottom: 10px;
  color: var(--very-light-grayish-cyan);
  background-color: var(--very-dark-cyan);
  cursor: pointer;
}

.container .input:hover {
  background-color: var(--Light-grayish-cyan);
}

.container .input:hover::placeholder {
  color: var(--very-dark-cyan);
}

.container .input::placeholder {
  color: var(--white);
}

.selected {
  background-color: var(--strong-cyan) !important;
}

.selected::placeholder {
  color: var(--dark-grayish-cyan) !important;
}

.error {
  border: 1px solid rgba(255, 0, 0, 0.589);
}

.error-msg {
  color: rgba(255, 0, 0, 0.589);
  font-size: 12px;
  position: absolute;
  top: 0;
  right: 10px;
}

@media (min-width: 320px) {
  main {
    width: 100%;
  }
  .data-section,
  .result-section {
    width: 100%;
  }
  .input,
  .custom {
    width: 48%;
  }
}

@media (min-width: 620px) {
  main {
    width: 70%;
  }
}

@media (min-width: 920px) {
  main {
    width: 80%;
  }
  .data-section,
  .result-section {
    width: calc(50% - 15px);
  }
  .input,
  .custom {
    width: 32%;
  }
}

@media (min-width: 1220px) {
  main {
    width: 70%;
  }
}
